# Core dependencies
torch~=2.6.0
numpy~=1.24.4
pandas~=1.5.3
scipy~=1.11.3
scikit-learn~=1.6.1
matplotlib~=3.10.0
seaborn~=0.13.0

# Machine Learning & Explainability
shap~=0.46.0
imbalanced-learn~=0.13.0
pyfume~=0.2.0
pyradiomics~=3.1.0

# Image Processing & Medical Imaging
SimpleITK~=2.3.0
opencv-python-headless~=4.10.0
pillow~=11.1.0

# Jupyter & Development Environment
jupyterlab~=4.2.3
notebook~=7.2.1
ipykernel~=6.29.5
ipywidgets~=8.1.3
jupyter-console~=6.6.3
qtconsole~=5.5.2
jedi~=0.19.1
matplotlib-inline~=0.1.7

# Web & API Utilities
httpx~=0.27.0
requests~=2.32.3
urllib3~=2.2.2
websocket-client~=1.8.0

# Data Processing & Parsing
jsonschema~=4.22.0
PyYAML~=6.0.1
python-dateutil~=2.9.0.post0

# Utility & Performance
setuptools~=70.2.0
wheel~=0.43.0
traitlets~=5.14.3
prometheus_client~=0.20.0
psutil~=6.0.0
tornado~=6.4.1

# Security
argon2-cffi~=23.1.0
cffi~=1.16.0

# Miscellaneous
debugpy~=1.8.2
nest-asyncio~=1.6.0
soupsieve~=2.5
wcwidth~=0.2.13
